* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
}

html,
body,
#root {
  min-height: 100%;
  min-width: 100%;
}

a {
  color: inherit;
}

main {
  padding: 144px 89px 55px 89px;
}

@media screen and (max-width: 600px) {
  main {
    padding: 144px 55px 55px 55px;
  }
}
